element.style {
}
body {
    font-size: 24px;
}
span.red{
    color:red;
}
span.green {
    color: green;
}
span.green {
    color:green;
}   
span.green {
    color:green;
}
span.red {
    color:red
}
span.red {
    color:red;
}
body {
    font-size: 24px;
}
.green {
    color: green;
}
.green {
    color: green;
}
li.green {
    color: red;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
ul ol li.red {
    color: red;
}
ul ol li.green {
    color: green;
}
ul ol li.blue {
    color: blue;
}
p.italic {
    font-weight: italic;
}
p.bold {
    font-style: bold;
}